@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    
}

:root{
    font-size: 16px;
}

body{
    background: url('../assets/background.png');
    color: #f2f2f2;
}

.container{
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login{
    width: 100%;
    max-width: 330px;
    background-color: #212121;
    border-radius: 5px;
    padding: 20px;
}

.login > h2 {
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 20px;
    
}

.login_form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login_form input{
    border: none;
    padding: 15px;
    font-size: 0.85rem;
    font-weight: 600;
    background-color:#121212;
    color: #f2f2f2;
    outline: none;
    border-radius: 5px;
}

.login_form input:focus{
    outline: 2px solid rgb(35, 35, 179);
}

.login_form button{
    border: none;
    padding: 15px;
    border-radius: 5px;
    font-size: 0.85rem;
    font-weight: 700;
    cursor: pointer;
    background-color:rgb(35, 35, 179);
    color: #f2f2f2;
}

.login_form button:hover{
    background-color:rgb(65, 65, 165); 
    box-shadow: 0 0 10px 5px rgba(65, 65, 165, 0.5);
}


.chat{
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    
}

.chat_messages{
    flex-grow: 1;
    padding: 30px 30px 90px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.chat_form{
    background-color: #191919;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.chat_form input{
    border: none;
    padding: 15px;
    border-radius: 8px;
    flex-grow: 1;
    background-color: #212121;
    outline: none;
    color: #f2f2f2;
    font-size: 1rem;
}

.chat_form button{
    border: none;
    background:none;
    color: #f2f2f2;
    cursor:pointer;
}

.chat_form span{
    font-size: 1.8rem;
}

.chat_messages > div {
    padding: 10px;
    width: 100%;
    max-width: 250px;
    font-size: 0.9rem;
    margin-bottom: 15px;
    line-height: 22px;
}

.message-self {
    
    background-color: #f2f2f2;
    color: #121212;
    border-radius: 10px 10px 0px ;
    align-self: flex-end;
}


.message-other {
    
    background-color: #333;
    color: #f2f2f2;
    border-radius: 0 10px 10px ;
    align-self: flex-start;
}

.message-sender{
    display: block;
    margin-bottom: 15px;
    font-weight: 700;
    color: cadetblue;
}